<!-- 
    Rev.0 - 17/04/2025
    Componente per l'edit della retta
    Composto da: 
        - Barra Funzioni

    /-retta-edit------------------------------------------------------------\
    |          annoscolastico               nomeCognomeAlunno               |
    |           (MatSelect)                 (MatAutoComplete)               |
    |                                                                       |
    |                                                                       |
    |   /-retta-anno  --\   /-retta-mese 1--\   /-retta-mese 2--\ ....      |
    |   |               |   |               |   |               |           |
    |   |               |   |               |   |               |           |
    |   |               |   |               |   |               |           |
    |   |               |   |               |   |               |           |
    |   |               |   |               |   |               |           |
    |   \---------------/   \---------------/   \---------------/ ....      |
    |                                                                       |
    |   /-rettapagamento-edit-----------------------------------\           |
    |   |                                                       |           |
    |   \-------------------------------------------------------/           |   
    |   /-pagamenti-list----------------------------------------\           |
    |   |                                                       |           |
    |   |                                                       |           |
    |   |                                                       |           |
    |   |                                                       |           |
    |   |                                                       |           |
    |   \-------------------------------------------------------/           |
    |                                                                       |
    \-----------------------------------------------------------------------/
-->

    <form  [formGroup] = "formRetta" >

        <mat-card appearance="outlined" class="form-cardRette data-form">
            <img class="iconaMenuBig" src="./assets/money_edit_T.svg">

            <button mat-icon-button aria-label="Back" matTooltip="Chiudi" class="_btn-toolbar-close" mat-dialog-close></button>

            <mat-card-content>
                <div class="center mt10 ml30 _no-padding-bottom" *ngIf="obsRette$ | async" >
                    <mat-form-field appearance="outline">
                        <mat-label>a.s.</mat-label>
                        <mat-select 
                            formControlName="selectAnnoScolastico" 

                            [compareWith]="compareAnni">
                            <mat-option *ngFor="let element of (obsAnni$ | async)" [value]="element">
                            {{element.annoscolastico}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Alunno</mat-label>
                        <input matInput formControlName="nomeCognomeAlunno" readonly>
                    </mat-form-field>
                </div>  
                <mat-grid-list [cols]="15" rowHeight="140px">
                    <mat-grid-tile [colspan]=2>
                        <div>
                            <br>
                            <div class="mt10">DEFAULT</div>
                            <div class="mt10">CONCORDATE</div>
                            <div class="mt10">PAGATE</div>
                        </div>
                    </mat-grid-tile>

                    <mat-grid-tile class="mr20">
                        <div>
                            <div class="center">
                                <mat-label>Anno</mat-label>
                            </div>
                            <app-rettaanno-edit
                                [iscrizione]="data.iscrizione!"
                                [quotaDefaultAnno] ="quotaDefaultAnno"
                                [quotaConcordataAnno] ="quotaConcordataAnno"
                                [totPagamentiAnno] = "totPagamentiAnno">
                            </app-rettaanno-edit>
                        </div>
                    </mat-grid-tile>

                    <mat-grid-tile *ngFor="let mese of mesiArr; let i = index" >
                        <div>
                            <div class="center">
                                <mat-label>{{placeholderMeseArr[i]}}</mat-label>
                            </div>
                                <!-- [inputPagamenti] ="totPagamenti[mese]" -->
                                <!--[toHighlight] = "idToHighlight"  -->
                            <app-rettamese-edit
                                [rettaMese]="retteMese[mese]"
                                [iscrizione]="data.iscrizione!"
                                (mesePagamentoClicked)="mesePagamentoClicked($event)" 
                            ></app-rettamese-edit>

                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
                <mat-tab-group mat-align-tabs="center">

                    <mat-tab label="Gestione Pagamenti">
                        <mat-label class="frameLabel"> Nuovo Pagamento </mat-label>
                        <div class="mt20">
                            <app-rettapagamento-edit
                                [iscrizione]="data.iscrizione!"
                                (nuovoPagamento) = "nuovoPagamentoArrivato($event)">
                            </app-rettapagamento-edit>
                        </div>
                        <!-- <mat-label class="frameLabel"> Pagamenti </mat-label> -->
                        <div class="_pagamenti-container _cell-bordered mt10">
                            <app-pagamenti-list 
                                [dove]="'retta-edit'" 
                                [iscrizione]="data.iscrizione!"
                                (pagamentoEliminato) = "pagamentoEliminatoArrivato()">
                                                <!-- (hoverPagamento) = "hoverPagamentoArrivato($event)" -->
                            </app-pagamenti-list>
                        </div>

                    </mat-tab>

                    <mat-tab label="Utilities Rette" *ngIf="data.iscrizione.id">
                        <mat-label class="frameLabel"> Utilities per la definizione rapida delle rette </mat-label>
                        <div class="_utilities-container _cell-bordered mt10">
                            <app-retta-calcolo-alunno 
                                [iscrizione]="data.iscrizione!"
                                (ricalcoloRette) = "ricalcoloRetteArrivato()"   >
                            </app-retta-calcolo-alunno>
                        </div>
                        
                    </mat-tab>
                </mat-tab-group>
                
            </mat-card-content>
        </mat-card>
    </form>



