th.mat-mdc-header-cell._no-bottom-border, td.mat-mdc-cell._no-bottom-border {
    border-bottom-width: 0px !important;
}

/* chips ci sono anche in persone.css e genitori.css perchè mettendoli in styles.css non funziona*/

.chip {
    --mdc-chip-label-text-color: white;
  }
  .mini-chip {
    --mdc-chip-label-text-size: 10px;
    --mdc-chip-container-height: 20px;
  
  }
  
  ::ng-deep .mdc-evolution-chip__action--presentational {
    cursor: pointer !important;
  }
  
  
  
  /* fine chips */