   
    <mat-card appearance="outlined" class="form-card">
        <mat-card-content *ngIf="(persona$ | async) || emptyForm">

<!-- ********************************    BOTTONI     ************************************* -->
            <div  class="center">

                <img class="iconaMenuBig" src="./assets/persona_edit_T.svg">

                <button mat-icon-button aria-label="Back" matTooltip="Chiudi" class="_btn-toolbar-close" [mat-dialog-close]="persona$|async"></button>

                <button *ngIf="personaID" mat-mini-fab aria-label="Back" matTooltip="Back" class="btn ml10" (click)="loadData()" >
                    <mat-icon>restart_alt</mat-icon>
                </button>

                <button mat-mini-fab aria-label="Salva" matTooltip="Salva" class="btn ml10"  
                        [disabled] = "disabledSave"
                        (click)="save()" >
                    <mat-icon>save</mat-icon>
                </button>

                <button *ngIf="personaID" mat-mini-fab aria-label="Cancella" matTooltip="Cancella" class="btn ml10" (click)="delete()" >
                    <mat-icon>delete</mat-icon>
                </button>
                
            </div>
            
<!-- ********************************       COMPONENT PERSONA-FORM      *********************************** -->


            <div class="center mb20 mt10">
                <mat-chip-set>
                    <mat-chip *ngFor="let ruolo of _lstRoles" 
                            [ngClass]="'colore-' + ruolo.toLowerCase()" class="chip">
                        {{ ruolo }}
                    </mat-chip>
                </mat-chip-set>
            </div>


            <app-persona-form #apppersonaform
                [personaID] = "personaID"
                (formValid)="formValidEmitted('Persona', $event)"
                (ckAttivoPersona) = "changedCkAttivoPersona($event)"
                >  
            </app-persona-form>

            <mat-accordion >


                <div class="custom-panel mt10" *ngIf="!showUserForm" >
                    <div class="custom-panel-header">
                        <span class="custom-panel-title">Aggiungi Utente</span>
                        <mat-icon class="custom-panel-icon mr16" (click)="aggiungiDerivato('User', personaID)">add_circle</mat-icon>
                    </div>
                </div>

                <mat-expansion-panel class="mt10" *ngIf="showUserForm" #userPanel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Dati dell'Utente</mat-panel-title>
                        <mat-icon class="right" >{{ userPanel.expanded ? 'expand_less' : 'expand_more' }}</mat-icon>
                    </mat-expansion-panel-header>
                    <app-user-form                           
                        [userID] = "userID"
                        (formValid)="formValidEmitted('user', $event)">
                    </app-user-form>
                </mat-expansion-panel>


                <!--
                <div class="custom-panel mt10" *ngIf="!showGenitoreForm" >
                    <div class="custom-panel-header">
                        <span class="custom-panel-title">Aggiungi ruolo Genitore</span>
                        <mat-icon class="custom-panel-icon mr16" (click)="aggiungiDerivato('Genitore', personaID)">add_circle</mat-icon>
                    </div>
                </div>

                 <mat-expansion-panel class="mt10" *ngIf="showGenitoreForm" #genitorePanel> 
                        <mat-expansion-panel-header>
                            <mat-panel-title>Dati del Genitore</mat-panel-title>
                            <mat-icon class="right mr20" >{{ genitorePanel.expanded ? 'expand_less' : 'expand_more' }}</mat-icon>
                            <mat-icon class="right _red" (click)="rimuoviDerivato('Genitore', personaID)">remove_circle</mat-icon>
                        </mat-expansion-panel-header>
                        <app-genitore-form #appgenitoreform
                            [genitoreID] = "genitoreID"
                            [personaID] = "personaID"
                            (formValid)="formValidEmitted('Genitore',$event)" >
                        </app-genitore-form>
                    </mat-expansion-panel>
                -->

                <mat-expansion-panel class="mt10"  #genitorePanel>
                    <mat-expansion-panel-header>
                        <!-- <mat-panel-title>{{genitorePanel.expanded ? 'Dati del Genitore' : 'Aggiungi ruolo Genitore'}}</mat-panel-title> -->
                        <!-- <mat-icon class="right mr20" >{{ genitorePanel.expanded ? 'expand_less' : 'expand_more' }}</mat-icon> -->
                        <!-- <mat-icon *ngIf="genitorePanel.expanded" class="right _red" (click)="rimuoviDerivato('Genitore', personaID)">remove_circle</mat-icon> -->
                        <!-- <mat-icon *ngIf="!genitorePanel.expanded" class="right custom-panel-icon mr16" (click)="aggiungiDerivato('Genitore', personaID)">add_circle</mat-icon> -->

                        <mat-panel-title>{{showGenitoreForm ? 'Dati del Genitore' : 'Aggiungi ruolo Genitore'}}</mat-panel-title>
                        <mat-icon class="right mr20" >{{ showGenitoreForm ? 'expand_less' : 'expand_more' }}</mat-icon> 
                        
                        <mat-icon *ngIf="!showGenitoreForm" class="right custom-panel-icon mr16" (click)="aggiungiDerivato('Genitore', personaID)">add_circle</mat-icon>
                        <mat-icon *ngIf="showGenitoreForm" class="right _red" (click)="rimuoviDerivato('Genitore', personaID)">remove_circle</mat-icon>
                        
                    
                    </mat-expansion-panel-header>

                    <app-genitore-form #appgenitoreform
                        [genitoreID] = "genitoreID"
                        [personaID] = "personaID"
                        (formValid)="formValidEmitted('Genitore',$event)" >
                    </app-genitore-form>

                </mat-expansion-panel>

                <div class="custom-panel mt10" *ngIf="!showAlunnoForm" >
                    <div class="custom-panel-header">
                        <span class="custom-panel-title">Aggiungi ruolo Alunno</span>
                        <mat-icon class="custom-panel-icon mr16" (click)="aggiungiDerivato('Alunno', personaID)">add_circle</mat-icon>
                    </div>
                </div>

                <mat-expansion-panel class="mt10" *ngIf="showAlunnoForm" #alunnoPanel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Dati dell'Alunno</mat-panel-title>
                        <mat-icon class="right mr20" >{{ alunnoPanel.expanded ? 'expand_less' : 'expand_more' }}</mat-icon>
                        <mat-icon class="right _red" (click)="rimuoviDerivato('Alunno', personaID)">remove_circle</mat-icon>
                    </mat-expansion-panel-header>
                    <app-alunno-form #appalunnoform
                        [alunnoID] = "alunnoID"
                        (formValid)="formValidEmitted('Alunno',$event)">
                    </app-alunno-form>
                </mat-expansion-panel>

                <div class="custom-panel mt10" *ngIf="!showDocenteForm" >
                    <div class="custom-panel-header">
                        <span class="custom-panel-title">Aggiungi ruolo Docente</span>
                        <mat-icon class="custom-panel-icon mr16" (click)="aggiungiDerivato('Docente', personaID)">add_circle</mat-icon>
                    </div>
                </div>

                <mat-expansion-panel class="mt10" *ngIf="showDocenteForm" #docentePanel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Dati del Docente</mat-panel-title>
                        <mat-icon class="right mr20" >{{ docentePanel.expanded ? 'expand_less' : 'expand_more' }}</mat-icon>
                        <mat-icon class="right _red" (click)="rimuoviDerivato('Docente', personaID)">remove_circle</mat-icon>

                    </mat-expansion-panel-header>
                    <app-docente-form #appdocenteform
                        [docenteID] = "docenteID"
                        (formValid)="formValidEmitted('Docente',$event)">
                    </app-docente-form>
                </mat-expansion-panel>


                <div class="custom-panel mt10" *ngIf="!showNonDocenteForm" >
                    <div class="custom-panel-header">
                        <span class="custom-panel-title">Aggiungi ruolo personale Non Docente</span>
                        <mat-icon class="custom-panel-icon mr16" (click)="aggiungiDerivato('NonDocente', personaID)">add_circle</mat-icon>
                    </div>
                </div>

                <mat-expansion-panel class="mt10" *ngIf="showNonDocenteForm" #nondocentePanel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Dati del Non Docente</mat-panel-title>
                        <mat-icon class="right mr20" >{{ nondocentePanel.expanded ? 'expand_less' : 'expand_more' }}</mat-icon>
                        <mat-icon class="right _red" (click)="rimuoviDerivato('NonDocente', personaID)">remove_circle</mat-icon>
                    </mat-expansion-panel-header>
                    <app-nondocente-form #appnondocenteform
                        [nondocenteID] = "nondocenteID"
                        (formValid)="formValidEmitted('NonDocente', $event)">
                    </app-nondocente-form>
                </mat-expansion-panel>


                <div class="custom-panel mt10" *ngIf="!showDirigenteForm">
                    <div class="custom-panel-header">
                        <span class="custom-panel-title">Aggiungi ruolo personale Dirigente</span>
                        <mat-icon class="custom-panel-icon mr16" (click)="aggiungiDerivato('Dirigente', personaID)">add_circle</mat-icon>
                    </div>
                </div>

                <mat-expansion-panel class="mt10" *ngIf="showDirigenteForm" #dirigentePanel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Dati del Dirigente</mat-panel-title>
                        <mat-icon class="right mr20" >{{ dirigentePanel.expanded ? 'expand_less' : 'expand_more' }}</mat-icon>
                        <mat-icon class="right _red" (click)="rimuoviDerivato('Dirigente', personaID)">remove_circle</mat-icon>
                    </mat-expansion-panel-header>
                    <app-dirigente-form #dirigenteform
                        [dirigenteID] = "dirigenteID"
                        (formValid)="formValidEmitted('Dirigente', $event)">
                    </app-dirigente-form>
                </mat-expansion-panel>

            </mat-accordion>

        </mat-card-content>
    </mat-card>


    <!-- ********************************       RUOLI      *********************************** -->           
            <!-- <div class="mt20"> -->
            <!-- <form [formGroup] = "form"> 
                <div>
                    <mat-grid-list [cols]="3" class="_low-list-row no-overflowx mt20" rowHeight="60px">
                        <mat-grid-tile>
                            <mat-form-field >
                                <mat-label>Ruoli</mat-label> -->
                                <!-- <mat-select matNativeControl formControlName="_lstRoles" multiple #selectroles > -->
                                <!-- <mat-select formControlName="_lstRoles" multiple #selectroles>    
                                    <mat-option (onSelectionChange)="changeOptionRoles($event)" *ngFor="let element of (obsTipiPersona$ | async)" 
                                        [value]="element.id" 
                                        [disabled] ="currUser.personaID == personaID  || !currUser.persona!._LstRoles!.includes('ITManager') ">
                                        {{element.descrizione}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </mat-grid-tile>
                    </mat-grid-list>
                </div>
            </form>  -->