<!-- genitore form + persona form = genitore edit -->
<form *ngIf="(user$ | async) || emptyForm" class="data-form flex-form" [formGroup] = "form">
    <mat-label class="frameLabelRel t10">Dati dello User (se presente)</mat-label>

    <!-- <mat-icon class="_pos-absolute r20 mt5 pointer topZIndex" (click)="deleteRole()">delete</mat-icon> -->
    
    <mat-grid-list class="mt10" [cols]="3" rowHeight="60px">

        
        <mat-grid-tile>
            <mat-form-field>
                <mat-label>email</mat-label>
                <input matInput type="text" formControlName="email" #email>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile *ngIf="email.value">
            <mat-form-field>
                <input matInput type="password" placeholder="Password" formControlName="password">
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile *ngIf="email.value">
            <button mat-button class="_btn-text" (click)="cambioPassword()">Cambio Password</button>
        </mat-grid-tile>


        <!-- <mat-grid-tile>
            <mat-form-field>
                <input matInput type="text" placeholder="Username" formControlName="userName">
            </mat-form-field>
        </mat-grid-tile> -->

    </mat-grid-list>
</form>