<form *ngIf="(nondocente$ | async) || emptyForm" class="data-form flex-form" [formGroup] = "form">
    <!-- <mat-label class="frameLabelRel t10">Dati del docente</mat-label> -->
    
    <!-- <button mat-mini-fab aria-label="Cancella" matTooltip="Cancella" class="btn _pos-absolute r20 mt5 pointer"  > -->
        <!-- <mat-icon class="_pos-absolute r20 mt5 pointer topZIndex" (click)="deleteRole()">delete</mat-icon> -->
    <!-- </button> -->

    <mat-grid-list class="no-overflowx" [cols]="3" rowHeight="60px">
        <mat-grid-tile>

        </mat-grid-tile>

        <mat-grid-tile>

        </mat-grid-tile>

        <mat-grid-tile class="tileCk">
            <mat-checkbox color="primary" formControlName="ckAttivo" #ckAttivo>
                <span [ngClass]="{'_red': !ckAttivo.checked}">Non Docente Attivo</span>
            </mat-checkbox>
        </mat-grid-tile>

    </mat-grid-list>

</form>