<mat-card appearance="outlined" class="form-card">
    <mat-card-content>

<!-- ********************************    BOTTONI     ************************************* -->
        <div class="center">
            <!-- <button mat-mini-fab aria-label="Back" matTooltip="Back" class="btn" mat-dialog-close>
                <mat-icon>arrow_back</mat-icon>
            </button> -->
            <img class="iconaMenuBig" src="./assets/docente_edit_T.svg">

            <button mat-icon-button aria-label="Back" matTooltip="Chiudi" class="_btn-toolbar-close" [mat-dialog-close]="docente$|async"></button>

            <button *ngIf="docenteID" mat-mini-fab aria-label="Back" matTooltip="Back" class="btn ml10" (click)="loadData()" >
                <mat-icon>restart_alt</mat-icon>
            </button>

            <button mat-mini-fab aria-label="Salva" matTooltip="Salva" class="btn ml10"  [disabled] ="!isValid" (click)="save()" >
                <mat-icon>save</mat-icon>
            </button>

            <button *ngIf="docenteID" mat-mini-fab aria-label="Cancella" matTooltip="Cancella" class="btn ml10" (click)="delete()" >
                <mat-icon>delete</mat-icon>
            </button>
        </div>
        
        <!-- ********************************       ANAGRAFICA      *********************************** -->


            <div class="mt20"></div>
            <div *ngIf="(docente$ | async) || emptyForm" class="mt10 ">
                <form [formGroup] = "form">            
                    <mat-form-field *ngIf="emptyForm">
                        <input type="text"
                                placeholder="persona"
                                matInput
                                formControlName="nomeCognomePersona"
                                [matAutocomplete]="autoPersona"  >
                        <!-- #nomeCognomePersona -->
                        <!-- (keydown.enter) = "enterPersonaInput()" dovrebbe essere superata da autoActiveFirstOption-->
                        <mat-autocomplete autoActiveFirstOption #autoPersona="matAutocomplete" (optionSelected)="selectedNomeCognome($event)">
                            <!-- <mat-spinner *ngIf="nomeAlunnoIsLoading" class="is-loading" diameter="40"></mat-spinner> -->
                            <mat-option *ngFor="let element of filteredPersone$ | async"  [value]="element.nome + ' ' + element.cognome" [id]="element.id.toString()" #option>
                                <small>{{element.nome}} {{element.cognome}}</small>
                            </mat-option>
                        </mat-autocomplete>

                        <mat-error *ngIf="form.controls['nomeCognomePersona'].hasError('unmatched')">
                            Selezionare un valore dalla lista
                        </mat-error>
                    </mat-form-field>
                </form>
                <app-persona-form class="mt10" 
                    [personaID] = "personaID" 

                    [dove]="'docente-edit'"
                    (formValid)="formPersonaValidEmitted($event)" 
                    #apppersonaForm
                    >   
                </app-persona-form>

                <div class="_bordered-grey mt5">
                    <app-user-form                           
                        [userID] = "userID"
                        (formValid)="formUserValidEmitted($event)">
                    </app-user-form>
                </div>

                <div class="_bordered-grey mt5">
                    <app-docente-form [docenteID] = "docenteID"
                                    (formValid)="formDocenteValidEmitted($event)">   
                    </app-docente-form>
                </div>
            </div>

    </mat-card-content>
</mat-card>
