<mat-card appearance="outlined" class="form-card">
    <mat-card-content>

<!-- ********************************    BOTTONI     ************************************* -->
        <div class="center">
            <!-- <button mat-mini-fab aria-label="Back" matTooltip="Back" class="btn" mat-dialog-close>
                <mat-icon>arrow_back</mat-icon>
            </button> -->
            <img class="iconaMenuBig" src="./assets/docente_edit_T.svg">

            <button mat-icon-button aria-label="Back" matTooltip="Chiudi" class="_btn-toolbar-close" [mat-dialog-close]="docente$|async"></button>

            <button *ngIf="docenteID" mat-mini-fab aria-label="Back" matTooltip="Back" class="btn ml10" (click)="loadData()" >
                <mat-icon>restart_alt</mat-icon>
            </button>

            <button mat-mini-fab aria-label="Salva" matTooltip="Salva" class="btn ml10"  [disabled] ="!isValid" (click)="save()" >
                <mat-icon>save</mat-icon>
            </button>

            <button *ngIf="docenteID" mat-mini-fab aria-label="Cancella" matTooltip="Cancella" class="btn ml10" (click)="delete()" >
                <mat-icon>delete</mat-icon>
            </button>
        </div>
        
        <!-- ********************************       ANAGRAFICA      *********************************** -->


            <div class="mt20"></div>
            <div *ngIf="(docente$ | async) || emptyForm" class="mt10 ">

                <app-persona-form class="mt10" 
                    [personaID] = "personaID" 

                    [dove]="'docente-edit'"
                    (formValid)="formPersonaValidEmitted($event)" 
                    #apppersonaForm
                    >   
                </app-persona-form>

                <app-docente-form [docenteID] = "docenteID"
                                (formValid)="formValidEmitted($event)">   
                </app-docente-form>
            </div>

    </mat-card-content>
</mat-card>
