    /* low-list-row è una classe creata per  ridurre l'altezza dei form:
    /* attenzione però: toglie il mat-hint sottostante !!!*/

    :host ::ng-deep ._low-list-row .mat-mdc-text-field-wrapper {
        height: 50px;
    }

    :host ::ng-deep ._low-list-row .mat-grid-tile {
        height: 55px !important;
    }

    :host ::ng-deep ._low-list-row {
        height: 55px !important;
    }



/* Caratteristiche dell'expansion panel nel persona-edit */
    ::ng-deep mat-expansion-panel {
        box-shadow: none !important; /* Rimuove l'ombra */
        border: 1px solid grey !important;
        
    }



/* Fine expansion panel */

/* custom panel per aggiunta ruoli */
.custom-panel {
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border-radius: 4px;
    border: 1px solid #ddd;
    background: white;
    cursor: pointer;
    transition: background 0.3s;
}

.custom-panel:hover {
    background: rgba(0, 0, 0, 0.05);
}

.custom-panel-header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.custom-panel-title {
    font-weight: 500;
}

.custom-panel-icon {
    color: #007BFF;
}
/* fine custom panel */



.icon-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.icon-container .custom-panel-icon, 
.icon-container .right {
    margin-left: auto;
}



/* chips */

.chip {
    --mdc-chip-label-text-color: white;
}
.mini-chip {
    --mdc-chip-label-text-size: 10px;
    --mdc-chip-container-height: 20px;
}
/* fine chips */



.mat-expansion-indicator {
    display: block !important;
    color: red !important;
}



